<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-8">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <ul class="nav justify-content-start">
        <a class="navbar-brand" href="#">Citehtsea</a>
        <a class="nav-item nav-link active" href="/">Home </a>
        <a class="nav-item nav-link" href="#">About</a>
      </ul>
      <ul class="nav justify-content-end">
        <a class="nav-link" href="/user/login">Login</a>
        <a class="nav-link" href="/user/Register">Register</a>
      </ul>
    </nav>
  </div>
  <div class="col-sm"></div>
</div>
