<div class="container">
  <nav class="navbar">
    <ul class="nav justify-content-start">
      <a class="nav-link active" href="/">Home </a>
      <a class="nav-link active" href="#">About</a>
    </ul>
    <ul class="nav justify-content-end">
      <form class="form-inline" action="/" method="GET">
        <select class="form-control" name="selectSearch" id="selectSearch">
          <option value="title">Title</option>
          <option value="author">Author</option>
        </select>
        <input
          class="form-control"
          id="searchBox"
          type="text"
          name="search"
          placeholder="Search post..."
        />
        <button class="form-control" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div class="dropdown">
        <a
          class="dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="userName"><% if (user) { %> <%= user.name %> <% } else { %> Guest <% } %></span>
        </a>
        <% if (user) { %>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/user/profile">Profile</a>
            <a class="dropdown-item" href="/user/dashboard">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/post/new">New Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Logout</a>
          </div>
        <% } else { %>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/user/login">Login</a>
            <a class="dropdown-item" href="/user/register">Register</a>
          </div>
          <% } %>
    </ul>
  </nav>
</div>
