body {
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 20px;
}

.container {
  background-color: rgb(206, 235, 235);
}

[class*="col-"] {
  height: 4.2rem;
  border: 2px solid orange;
}

i {
  margin: 3px;
}

/* button */

.btn:focus {
  box-shadow: none;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.quick-search:hover {
  background-color: #ffbb00;
  transition: background-color 0.15s ease-in-out;
}

.btn-lg {
  margin: 1rem 0;
}

/* nav */
nav,
.card-header {
  background-color: rgb(78, 88, 98);
}

.nav-link,
.btn-link {
  color: #ffbb00;
}

.nav-link:hover,
.btn-link:hover {
  color: rgb(253, 255, 255);
}

.form-control {
  margin-right: 5px;
}

.dropdown {
  margin-left: 15px;
  margin-top: 5px;
}

a.dropdown-toggle {
  color: #ffbb00;
  text-decoration: none;
}

a.dropdown-toggle:hover {
  color: rgb(253, 255, 255);
}

span.username {
  color: #ffbb00;
}

/* card for post/form */
.card {
  margin: 1rem 0;
}

.by-user {
  float: right;
}

/* login */

.login-line {
  padding-bottom: 1rem;
}

.redr-link {
  padding: 1rem;
}

form.single-post {
  display: inline-block;
}
