body {
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 20px;
  background-color: rgb(206, 235, 235);
}

a:hover {
  text-decoration: none;
}

i {
  margin: 3px;
}

/* button */

.btn:focus {
  box-shadow: none;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.quick-search:hover {
  background-color: #ffbb00;
  transition: background-color 0.15s ease-in-out;
}

.btn-lg {
  margin: 1rem 0;
}

.adv-search-btn {
  margin: 0 0;
}

div.options {
  display: flex;
  justify-content: center;
}

.btn-option {
  margin: 0 1rem;
}

/* nav */
nav,
.card-header {
  background-color: rgb(78, 88, 98);
}

.navbar {
  margin-bottom: 10px;
}

.nav-link,
.btn-link,
span.username,
.card-title,
.guidelines-title,
.post-title {
  color: #ffbb00;
}

.nav-link:hover,
.btn-link:hover,
.card-title:hover {
  color: rgb(253, 255, 255);
}

.form-control {
  margin-right: 5px;
}

.dropdown {
  margin-left: 15px;
  margin-top: 5px;
}

a.dropdown-toggle {
  color: #ffbb00;
  text-decoration: none;
}

a.dropdown-toggle:hover {
  color: rgb(253, 255, 255);
}

/* card for post/form */
.card-margin {
  margin: 1rem 0;
}
.sidecard-margin {
  margin-top: 1.5rem;
}

.sidecard-txt {
  font-size: 1em;
}

.by-user {
  float: right;
}

.col-form-label {
  font-size: 17px;
}

.card-title,
.post-title {
  font-size: 25px;
}

/* login */

.card-line {
  padding-bottom: 1rem;
}

.redr-link {
  padding: 1rem;
}

/* .container {
  background-color: rgb(206, 235, 235);
} */

/* [class*="col-"] {
  height: 4.2rem;
  border: 2px solid orange;
} */
